<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/_head')%>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <%- include('partials/_nav') %> </nav>
    <main>  
        <div class="container-fluid d-flex justify-content-center" >

            <% clubs.forEach(club => { %>
                <div class="card border-primary m-5" style="width: 20rem; min-height: 45rem; max-height: max-content; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);" data-club_id="<%= club.id%>">
                    <div class="card-body">
                        <h2><%= club.name %></h2>
                        <p style="height: 75px;"><%= club.description %></p>
                        <p>Book: <!-- <% if(club.club_book == 'TBD'){ %> 
                                    TBD
                                 <%} else{ %> -->
                                    <%= club.club_book %>
                                 <!-- <%} %> -->
                            <br>Meeting time:<!--  <% if(club.meeting_day == null && club.meeting_time == null){ %> 
                                            TBD
                                            <%} else { %> -->
                                            <%= club.meeting_day %> @ <%= club.meeting_time %>
                                            <!-- <%} %> -->
                            <br>Start Date: <!-- <% if(club.start_date == null){ %> 
                                            TBD
                                            <%} else { %> -->
                                            <%= club.start_date %>
                                            <!-- <%} %> -->
                            <br>Spots Left: <% if(club.capacity == club.size){ %> 
                                            FULL
                                            <%} else { %>
                                            <%= club.capacity - club.size %>
                                            <%} %>
                            <br>
                        </p>
                        <% if (club.club_book == 'TBD') { %>
                            <img src="/images/tbd-book.png" style="height:20rem"/>
                        <%} else {%>
                            <img src="<%= club.img%>" style="height:20rem"/>
                        <% } %>
                    </div>
                    <% if(club.capacity === club.size){ %>
                    <div class="buttons d-flex justify-content-center">
                        <button class="dislike btn btn-primary m-2">Pass ):</button>
                    </div>
                    <%} else { %>
                    <div class="buttons d-flex justify-content-center">
                        <button class="dislike btn btn-primary m-2">Pass ):</button>
                        <button class="like btn btn-primary m-2">Join :)</button>
                    </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>
    </main>
    <!-- <footer><%- include('partials/_footer')%></footer> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/explore-functions.js"></script>
</body>